{% extends 'base.html' %}

{% block content %}
<h2>Upload new hardware</h2>
<form action="../../../../../hardware/" method="post">
    <div class="container">
        <label for="name"><b>Hardware name</b></label><br>
        <input type="text" placeholder="Enter hardware name" name="name" required><br>

        <label for="type"><b>Hardware type</b></label><br>
        <input type="text" placeholder="Enter hardware type" name="type" required><br>

        <label for="desc"><b>Hardware description</b></label><br>
        <textarea name="desc" rows="10" cols="30" placeholder="Enter hardware description"></textarea><br>

        <button type="submit">Add</button>
    </div>
</form><br>
{% if datas %}
<h2>list hardware</h2>
<table style="width:100%">
    <tr>
        <th>id</th>
        <th>name</th> 
        <th>type</th>
        <th>description</th>
    </tr>
    {% for data in datas %}
<tr>
    <td>{{ data.id }} <a href="../../../../../hardware/delete/{{data.id}}" onClick="return confirm('Are you sure?')">❌</a><a href="../../../../../hardware/update/{{data.id}}"> ➕</a></td>
    <td>{{ data.name }}</td>
    <td>{{ data.type }}</td>
    <td>{{ data.description }}</td>
</tr>
    {% endfor %}
</table>
{% else %}
<h2>not added yet</h2>
{% endif %}

{% endblock content %}