{% extends 'base.html' %}

{% block content %}
<h2>Upload new node</h2>
<form action="../../../../../node/" method="post">
    <div class="container">
        <label for="name"><b>node name</b></label><br>
        <input type="text" placeholder="Enter node name" name="name" required><br>

        <label for="location"><b>node location</b></label><br>
        <input type="text" placeholder="Enter node location" name="location" required><br>

        <label for="id_hardware_node"><b>node hardware id</b></label><br>
        <input type="text" placeholder="1" name="id_hardware_node" required><br>

        <label for="id_hardware_sensor"><b>sensor hardware id</b></label><br>
        <input type="text" placeholder="1,2,3,4,5" name="id_hardware_sensor" required><br>

        <label for="field_sensor"><b>node field sensor</b></label><br>
        <textarea name="field_sensor" rows="10" cols="30" placeholder="kilogram,celcius,desibel"></textarea><br>

        <button type="submit">Add</button>
    </div>
</form><br>
{% if datas %}
<h2>list node</h2>
<table style="width:100%">
    <tr>
        <th>id</th>
        <th>name</th> 
        <th>location</th>
        <th>ID user</th>
        <th>ID hardware node</th>
        <th>ID hardware sensor</th>
        <th>Field sensor</th>
    </tr>
    {% for data in datas %}
<tr>
    <td>{{ data.id_node }} <a href="../../../../../node/delete/{{data.id_node}}" onClick="return confirm('Are you sure?')">❌</a><a href="../../../../../node/update/{{data.id_node}}"> ➕</a><a href="../../../../../channel/detail/{{data.id_node}}">  📊</a></td>
    <td>{{ data.name }}</td>
    <td>{{ data.location }}</td>
    <td>{{ data.id_user }}</td>
    <td>{{ data.id_hardware_node }}</td>
    <td>{{ data.id_hardware_sensor }}</td>
    <td>{{ data.field_sensor }}</td>
</tr>
    {% endfor %}
</table>
{% else %}
<h2>not added yet</h2>
{% endif %}

{% endblock content %}